/*Desktop styles*/

* {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 14px;
  box-sizing: border-box;
  padding: none;
  margin: none;
  text-align: start;
  color: #4b5d67;
}

body {
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
  margin: 0;
  overflow-x: hidden;
}

.inline-flex {
  display: flex;
  align-items: center;
}

.bold {
  font-weight: 500;
  text-decoration: none;
  color: #212353;
}

#header {
  width: 75%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 5px;
}

#logo {
  width: 35px;
}

#options-wrapper {
  margin-left: 90px;
}

.link-option {
  margin-left: 30px;
  text-decoration: none;
}

.link-option:active {
  font-weight: 400;
}

.link-option:hover {
  color: black;
}

section {
  width: 75%;
  margin: auto;
  position: relative;
}

h1 {
  font-size: 58px;
  color: #212353;
  font-weight: 600;
  width: 65%;
  padding-top: 70px;
  margin-top: 0;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

#about-section p {
  width: 36%;
  font-size: 15px;
  line-height: 27px;
}

section button {
  border: none;
  background-color: #9c69e2;
  color: white;
  border-radius: 30px;
  padding: 15px 30px 15px 30px;
  margin-top: 30px;
  cursor: pointer;
}

section button:hover {
  background-color: #8f4fe9;
}

section button:active {
  background-color: #7324e2;
}

#about-section img {
  position: absolute;
  bottom: -70px;
  right: -85px;
  width: 75%;
}

#desription-section {
  /* postioning for anchor */
  padding-top: 85px;
  margin-top: 65px;
}

#description-wrapper {
  background-color: #fde8f4;
  border-radius: 30px;
  padding: 30px;
}

#describtion-section-img-desktop {
  width: 40%;
}

#describtion-section-img-mobile {
  display: none;
}

#desription-section span {
  margin-left: 60px;
  margin-right: 40px;
}

h2 {
  font-size: 31px;
  color: #212353;
  font-weight: 600;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.description-text {
  font-size: 15px;
  line-height: 27px;
}

#features-section h2 {
  /* for anchor to link pretty */
  margin-top: 40px;
  padding-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}

#features-section p {
  text-align: center;
  width: 55%;
  margin: auto;
}

.features-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

#features-wrapper {
  margin-top: 70px;
  padding-left: 70px;
}

#feature1 {
  background-image: url(../assets/feature1-background.svg);
  width: 370px;
  height: 305px;
  background-size: cover;
  background-repeat: no-repeat;
}

#feature2 {
  background-image: url(../assets/feature2-background.svg);
  width: 370px;
  height: 305px;
  background-size: cover;
  background-repeat: no-repeat;
}

#feature3 {
  background-image: url(../assets/feature3-background.svg);
  width: 370px;
  height: 305px;
  background-size: cover;
  background-repeat: no-repeat;
}

#feature4 {
  background-image: url(../assets/feature4-background.svg);
  width: 370px;
  height: 305px;
  background-size: cover;
  background-repeat: no-repeat;
}

.feature-wrapper {
  position: relative;
}

#feature-img {
  width: 55%;
  position: absolute;
  bottom: 15%;
  left: -20%;
  z-index: 1;
}

#elipse-1-1 {
  position: absolute;
  top: 25px;
  left: 195px;
  transform: rotate(181deg);
  width: 45%;
  z-index: 0;
}

#elipse-1-2 {
  position: absolute;
  top: 55px;
  left: 250px;
  width: 8%;
  z-index: 0;
}

#elipse-2-1 {
  position: absolute;
  bottom: 15px;
  left: 180px;
  width: 45%;
  z-index: 0;
}

#elipse-3-1 {
  width: 16%;
  position: absolute;
  top: 25px;
  left: 285px;
  z-index: 0;
}

#elipse-4-1 {
  width: 16%;
  position: absolute;
  bottom: 25px;
  left: 285px;
  z-index: 0;
}

#elipse-4-2 {
  position: absolute;
  top: 25px;
  left: 55px;
  z-index: 0;
}

.feature-text-content {
  position: absolute;
  left: 150px;
}

.h3 {
  font-size: 20px;
  color: #212353;
  font-weight: 400;
  margin-bottom: 20px;
  letter-spacing: 1px;
  margin-top: 40px;
  z-index: 2;
}

h4 {
  font-size: 13px;
  color: #212353;
  font-weight: 500;
  margin-bottom: 40px;
  text-align: -webkit-center;
  margin-top: 40px;
  z-index: 2;
}

.feature-decription {
  text-align: left;
  width: 85%;
  font-size: 13px;
  line-height: 27px;
  max-height: 140px;
  overflow: hidden;
}

.more-button {
  display: flex;
  align-items: center;
  position: absolute;
  left: 150px;
  bottom: -10px;
  cursor: pointer;
}

#purple-arrow {
  width: 17%;
  margin-left: 10px;
}

#testimonials-section {
  background-color: #9c69e2;
  border-radius: 30px;
  padding: 50px 70px 50px 70px;
  margin-top: 100px;
  position: relative;
  height: 570px;
}

#testimonials-section h2 {
  color: white;
}

#reviews-wrapper {
  position: absolute;
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  width: 81vw;
  overflow-x: scroll;
  padding-bottom: 20px;
}

#reviews-wrapper::-webkit-scrollbar {
  display: none;
}

.review-card {
  padding: 50px;
  background: white;
  border-radius: 15px;
  min-width: 550px;
  max-height: 250px;
  margin-right: 20px;
  border: 1px solid #9c69e2;
  box-shadow: #6609e917 0px 20px;
  overflow-y: hidden;
}

.review-card-short {
  padding: 50px;
  background: white;
  border-radius: 15px;
  min-width: 350px;
  max-height: 250px;
  margin-right: 20px;
  border: 1px solid #9c69e2;
  box-shadow: #6609e917 0px 20px;
  overflow-y: hidden;
}

.profile-img {
  margin-top: 0;
  margin-bottom: auto;
}

.review-info {
  margin-left: 40px;
}

.review-name {
  font-size: 15px;
  color: #212353;
  font-weight: 500;
  margin-bottom: 6px;
}

.review-bio {
  color: #9c69e2;
  font-size: 12px;
  margin-bottom: 15px;
}

.review-text {
  font-size: 15px;
  line-height: 27px;
  overflow: hidden;
  display: flex;
  max-height: 110px;
}

.review-text-short {
  font-size: 15px;
  line-height: 27px;
  overflow: hidden;
  display: flex;
  max-height: 110px;

  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #4b5d67b4, #eee);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#slider-nav {
  position: absolute;
  width: 62vw;
  bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-arrow {
  margin-left: 10px;
}

.dots {
  display: flex;
  align-items: center;
}

.dots img {
  margin-right: 10px;
}

#horizontal-line {
  width: 100%;
  height: 1px;
  background: #ebe1f9;
  margin: 70px 0 90px 0;
}

#footer-wrapper {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#company-name {
  font-size: 17px;
  color: #212353;
  font-weight: 500;
  margin-left: 10px;
}

.address {
  margin-top: 50px;
  font-size: 14px;
  color: #212353;
  font-weight: 500;
}

.contacts {
  margin-top: 30px;
  color: #212353;
}

.copyright {
  margin-top: 40px;
  color: #212353;
  font-size: 13px;
}

#social-media-header {
  text-align: left;
  margin-left: 10px;
  font-size: 16px;
}

.media-wrapper {
  display: flex;
  align-items: center;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background: #e9e9ee;
  margin-left: 10px;
  cursor: pointer;
}

footer {
  padding-bottom: 70px;
  max-width: 100%;
}

/*Mobile styles*/
@media only screen and (max-width: 320px) {
  #header {
    width: 90%;
  }

  #options-wrapper {
    margin-left: 40px;
  }

  section {
    width: 100%;
  }

  h1 {
    font-size: 30px;
    width: 90%;
    margin: auto;
    padding-top: 60px;
  }

  #about-section p {
    width: 90%;
    margin: auto;
    padding-top: 45px;
    font-size: 16px;
  }

  #about-section img {
    padding-top: 45px;
    position: static;
    width: 57%;
    float: right;
    padding-right: 10px;
  }

  section button {
    margin-top: 45px;
    margin-left: 25%;
  }

  #desription-section {
    padding-top: 0px;
  }

  #description-wrapper {
    border-radius: 0;
    padding: 15px;
    padding-bottom: 45px;
  }

  .inline-flex {
    display: block;
  }

  #describtion-section-img-desktop {
    display: none;
  }

  #describtion-section-img-mobile {
    display: block;
    width: 57%;
    float: left;
    margin: -70px 15px 33px -20px;
  }

  h2 {
    padding-top: 40px;
    margin-bottom: 45px;
    font-size: 27px;
  }

  #features-section p {
    width: 95%;
  }

  #features-wrapper {
    padding-left: 0;
  }

  .features-row {
    display: block;
    margin-bottom: 0;
  }

  #feature1 {
    background-image: none;
    width: 100%;
    height: 280px;
    background: #f0faf8;
  }

  #feature2 {
    background-image: none;
    width: 100%;
    height: 280px;
    background: #f5f0fc;
  }

  #feature3 {
    background-image: none;
    width: 100%;
    height: 280px;
    background: #feeff8;
  }

  #feature4 {
    background-image: none;
    width: 100%;
    height: 280px;
    background: #eaf5fb;
  }

  #elipse-1-1 {
    left: 118px;
    top: 166px;
  }

  #elipse-1-2 {
    left: 205px;
  }

  #elipse-3-1 {
    top: 210px;
    left: 245px;
  }

  #elipse-4-1 {
    left: 257px;
  }

  #elipse-4-2 {
    left: 9px;
  }

  .feature-text-content {
    position: static;
  }

  #feature-img {
    top: 5%;
    left: 54%;
    width: 45%;
  }

  .h3 {
    padding: 40px 0 0px 15px;
    margin-top: 0;
  }

  .feature-decription {
    width: 90%;
    padding-top: 65px;
    position: absolute;
    left: 15px;
  }

  .more-button {
    left: 15px;
    bottom: 125px;
  }

  #testimonials-section {
    margin-top: 0;
    border-radius: 0;
    padding: 5px 15px 20px 15px;
  }

  #reviews-wrapper {
    width: 95vw;
  }

  .review-card {
    padding: 20px;
    min-width: 290px;
  }

  .review-card-short {
    padding: 20px;
    min-width: 290px;
  }

  .profile-img {
    width: 20%;
  }

  #slider-nav {
    width: 90%;
    bottom: 55px;
  }

  #footer-wrapper {
    display: block;
  }

  .media-wrapper {
    justify-content: center;
  }

  #social-media-header {
    text-align: center;
  }

  .circle {
    justify-content: space-around;
  }

  #horizontal-line {
    background: none;
    margin: 90px 0 0 0;
  }
}
