/*TODO: старайтесь не допускать опечатки в названиях классов, н-р, describtion -> description */

/*Mobile styles*/
@media only screen and (min-width: 320px) {
/*TODO: не очень хорошее решение задавать всем элементам настройки, многие из которых невозможно установить
     шрифтв, размер, начертание устанавливают тегам, которые могут содержать текст, например, p, h1-h6,
     остальные - нет */
  * {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 14px;
    box-sizing: border-box;
    text-align: start;
    color: #4b5d67;
  }

  body {
    background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
    margin: 0;
    overflow-x: hidden;
  }

  .inline-flex {
    display: block;
  }

  .bold {
    font-weight: 500;
    text-decoration: none;
    color: #212353;
  }

  #header {
    width: 90%;
    /*TODO: запись можно сократить: margin: 30px auto 5px; */
    margin: auto;
    margin-top: 30px;
    margin-bottom: 5px;
  }

  #logo {
    width: 35px;
  }

  #options-wrapper {
    margin-left: 40px;
  }

  .link-option {
    margin-left: 30px;
    text-decoration: none;
  }

  .link-option:active {
    font-weight: 400;
  }

  .link-option:hover {
    color: black;
  }

  section {
    width: 100%;
  }
  h1 {
    font-size: 30px;
    font-weight: 600;
    margin-left: 15px;
    padding-top: 30px;
    color: #212353;
    letter-spacing: 2px;
  }

  #about-section p {
    width: 90%;
    margin: auto;
    padding-top: 35px;
    font-size: 16px;
    line-height: 27px;
  }

  section button {
    margin-top: 45px;
    margin-left: 25%;
    cursor: pointer;
    border: none;
    background-color: #9c69e2;
    color: white;
    border-radius: 30px;
    height: fit-content;
/*TODO: нет необходимости указыват единицы измерения нулевым значениям 0px, 0% -> 0 */
    padding: 15px 0px 15px 0px;
    margin-bottom: 55px;
  }

  section button a {
    text-decoration: none;
    background-color: transparent;
    color: white;
    padding: 15px 30px 15px 30px;
    border-radius: 30px;
  }

  section button:hover {
    background-color: #8f4fe9;
  }

  section button:active {
    background-color: #7324e2;
  }

  #about-section img {
    padding-top: 45px;
    width: 57%;
    float: right;
    padding-right: 10px;
  }

  #description-wrapper {
    background-color: #fde8f4;
    border-radius: 0;
/*TODO: запись можно сократить:  padding: 15px 15px 45px; или так: padding: 15px 15px 45px 15px; */
    padding: 15px;
    padding-bottom: 45px;
  }

  #describtion-section-img-desktop {
    display: none;
  }

  #describtion-section-img-mobile {
    display: block;
    width: 57%;
    float: left;
    margin: -70px 15px 33px -20px;
  }

  #desription-section span {
    margin-left: 60px;
    margin-right: 40px;
  }

  h2 {
    padding-top: 40px;
    margin-bottom: 45px;
    font-size: 27px;
    letter-spacing: 2px;
    color: #212353;
    font-weight: 600;
  }

  .description-text {
    font-size: 15px;
    line-height: 27px;
  }

  #features-section h2 {
    margin-top: 40px;
    padding-top: 30px;
    text-align: center;
    margin-bottom: 30px;
  }

  #features-section p {
    width: 95%;
    text-align: center;
    margin: auto;
  }

  .features-row {
    width: 100%;
    display: block;
    margin-bottom: 0;
  }

  #features-wrapper {
    padding-left: 0;
    margin-top: 70px;
  }

  #feature1 {
    background-image: none;
    width: 100%;
    height: 280px;
    background-color: #f0faf8;
  }

  #feature2 {
    background-image: none;
    width: 100%;
    height: 280px;
    background-color: #f5f0fc;
  }

  #feature3 {
    background-image: none;
    width: 100%;
    height: 280px;
    background-color: #feeff8;
  }

  #feature4 {
    background-image: none;
    width: 100%;
    height: 280px;
    background-color: #eaf5fb;
  }

  .feature-wrapper {
    position: relative;
  }

  #feature-img {
    position: absolute;
    top: 5%;
    left: 54%;
    width: 45%;
    z-index: 1;
  }

  #elipse-1-1 {
    left: 118px;
    top: 166px;
    position: absolute;
    transform: rotate(181deg);
    width: 45%;
    z-index: 0;
  }

  #elipse-1-2 {
    left: 205px;
    position: absolute;
    top: 55px;
    width: 8%;
    z-index: 0;
  }

  #elipse-2-1 {
    position: absolute;
    bottom: 15px;
    left: 180px;
    width: 45%;
    z-index: 0;
  }
  #elipse-3-1 {
    top: 210px;
    left: 245px;
    width: 16%;
    position: absolute;
    z-index: 0;
  }

  #elipse-4-1 {
    left: 257px;
    width: 16%;
    position: absolute;
    bottom: 25px;
    z-index: 0;
  }

  #elipse-4-2 {
    left: 9px;
    position: absolute;
    top: 25px;
    z-index: 0;
  }

  .feature-text-content {
    position: static;
  }

  .h3 {
/*TODO: тут указан padding в одну строку - хорошо, для нулей не обязательно указывать px */
    padding: 40px 0 0px 15px;
    margin-top: 0;
    font-size: 20px;
    color: #212353;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 1px;
    z-index: 2;
  }

  h4 {
    font-size: 13px;
    color: #212353;
    font-weight: 500;
    /* margin-bottom: 40px;
    margin-top: 40px; */
    text-align: -webkit-center;
    z-index: 2;
  }

  .feature-decription {
    text-align: left;
    font-size: 13px;
    line-height: 27px;
    max-height: 140px;
    overflow: hidden;
    width: 90%;
    padding-top: 65px;
    position: absolute;
    left: 15px;
  }

  .more-button {
    display: flex;
    align-items: center;
    position: absolute;
    cursor: pointer;
    left: 15px;
    bottom: 125px;
    margin-bottom: 30px;
    margin-top: 40px;
  }

  #purple-arrow {
    width: 17%;
    margin-left: 10px;
  }

  #testimonials-section {
    border-radius: 0;
    padding: 5px 15px 20px 15px;
    background-color: #9c69e2;
    height: 570px;
    position: relative;
  }

  #testimonials-section h2 {
    color: white;
  }

  #reviews-wrapper {
    width: 95vw;
    position: absolute;
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-bottom: 20px;
  }

  #reviews-wrapper::-webkit-scrollbar {
    display: none;
  }
/*TODO: а в чем разница .review-card и .review-card-short? Дублирующийся код -- это очень плохо.
    Классы можно спокойно указывать разным элементам, если им нужны одинаковые стили.
     Если стили отличаются, то можно использовать класс с общими стилями и изменять отличающийся,
     например, цветом с помощью дополнительным классом, где указан только цвет. Будет короче и проще */
  .review-card {
    padding: 20px;
    min-width: 290px;
    background: white;
    border-radius: 15px;
    max-height: 250px;
    margin-right: 20px;
    border: 1px solid #9c69e2;
/*TODO:  для нулей не обязательно указывать px */
    box-shadow: #6609e917 0px 20px;
    overflow-y: hidden;
  }

  .review-card-short {
    padding: 20px;
    min-width: 290px;
    background: white;
    border-radius: 15px;
    max-height: 250px;
    margin-right: 20px;
    border: 1px solid #9c69e2;
/*TODO:  для нулей не обязательно указывать px */
    box-shadow: #6609e917 0px 20px;
    overflow-y: hidden;
  }

  .profile-img {
    width: 20%;
    margin-top: 0;
    margin-bottom: auto;
  }

  .review-info {
    margin-left: 40px;
  }

  .review-name {
    font-size: 15px;
    color: #212353;
    font-weight: 500;
    margin-bottom: 6px;
  }

  .review-bio {
    color: #9c69e2;
    font-size: 12px;
    margin-bottom: 15px;
  }

  .review-text {
    font-size: 15px;
    line-height: 27px;
    overflow: hidden;
    display: flex;
    max-height: 110px;
  }

  .review-text-short {
    font-size: 15px;
    line-height: 27px;
    overflow: hidden;
    display: flex;
    max-height: 110px;

    background-color: #f3ec78;
    background-image: linear-gradient(45deg, #4b5d67b4, #eee);
    background-size: 100%;
    -webkit-background-clip: text;
/*TODO: строку ниже можно удалить для -moz-background-clip нет свойства text (есть padding | border)*/
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
/*TODO: тоже строку ниже можно удалять */
    -moz-text-fill-color: transparent;
  }

  #slider-nav {
    position: absolute;
    width: 90%;
    bottom: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .img-arrow {
    margin-left: 10px;
  }

  .dots {
    display: flex;
    align-items: center;
  }

  .dots img {
    margin-right: 10px;
  }

  #horizontal-line {
    margin: 90px 0 0 0;
  }

  #footer-wrapper {
    width: 75%;
    margin: auto;
  }

  #company-name {
    font-size: 17px;
    color: #212353;
    font-weight: 500;
    margin-left: 10px;
  }

  .address {
    margin-top: 50px;
    font-size: 14px;
    color: #212353;
    font-weight: 500;
  }

  .contacts {
    margin-top: 30px;
    color: #212353;
  }

  .copyright {
    margin-top: 40px;
    color: #212353;
    font-size: 13px;
  }

  #social-media-header {
    margin-top: 55px;
    text-align: left;
    font-size: 16px;
  }

  .media-wrapper {
    display: flex;
    align-items: center;
  }

  .circle {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background: #e9e9ee;
    margin-right: 10px;
    cursor: pointer;
  }

  footer {
    padding-bottom: 70px;
    max-width: 100%;
  }
}

@media only screen and (min-width: 480px) {
  h1 {
    width: 70%;
  }

  #about-section img {
    padding-top: 0;
    width: 55%;
  }

  section button {
    margin-left: 35%;
  }

  #describtion-section-img-mobile {
    margin: -99px 15px 33px -20px;
  }

  /* #features-section p {
    width: 65%;
  }

  .feature-decription {
    margin-top: 30px;
  } */

  #features-section p {
    width: 80%;
  }

  #features-wrapper {
    padding-left: 90px;
  }

  .features-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
    flex-flow: column;
  }

  #feature1 {
    background-image: url(../assets/feature1-background.svg);
    width: 370px;
    height: 305px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-bottom: 50px;
  }

  #feature2 {
    background-image: url(../assets/feature2-background.svg);
    width: 370px;
    height: 305px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  #feature3 {
    background-image: url(../assets/feature3-background.svg);
    width: 370px;
    height: 305px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-bottom: 50px;
  }

  #feature4 {
    background-image: url(../assets/feature4-background.svg);
    width: 370px;
    height: 305px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  #elipse-1-1 {
    top: 25px;
    left: 195px;
  }

  #elipse-1-2 {
    left: 250px;
  }

  #elipse-3-1 {
    top: 25px;
    left: 285px;
  }

  #elipse-4-1 {
    left: 285px;
  }

  #elipse-4-2 {
    left: 55px;
  }

  .feature-text-content {
    position: absolute;
    left: 150px;
  }

  #feature-img {
    width: 55%;
    top: unset;
    bottom: 20%;
    left: -20%;
  }

  .more-button {
    left: 150px;
    bottom: -10px;
  }

  .h3 {
    padding: 0;
    margin-top: 40px;
  }

  .feature-decription {
    padding-top: 0;
    position: static;
    width: 85%;
    margin-top: 0;
  }

  #slider-nav {
    width: 94%;
  }
}

@media only screen and (min-width: 640px) {
  #header {
    width: 90%;
  }

  #options-wrapper {
    margin-left: 90px;
  }

  section {
    width: 90%;
    margin: auto;
    position: relative;
  }

  h1 {
    font-size: 58px;
    width: 86%;
    padding-top: 70px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 40px;
  }

  #about-section p {
    width: 51%;
    font-size: 15px;
    padding-top: 0;
    margin: 0;
  }

  #about-section img {
    position: absolute;
    bottom: -40px;
    right: -11px;
    width: 60%;
    float: none;
    padding-right: 0;
    padding-top: 0;
  }

  section button {
    margin-top: 40px;
    margin-left: 0;
    margin-bottom: 0;
  }

  #desription-section {
    padding-top: 85px;
    margin-top: 65px;
  }

  #description-wrapper {
    border-radius: 30px;
    padding: 30px;
  }

  .inline-flex {
    display: flex;
    align-items: center;
  }

  #describtion-section-img-mobile {
    margin: -57px 15px -10px -20px;
  }

  h2 {
    font-size: 24px;
    padding-top: 0;
  }

  #features-section p {
    width: 80%;
  }

  #features-wrapper {
    padding-left: 90px;
  }

  .features-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
    flex-flow: column;
  }

  #feature1 {
    background-image: url(../assets/feature1-background.svg);
    width: 370px;
    height: 305px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-bottom: 50px;
  }

  #feature2 {
    background-image: url(../assets/feature2-background.svg);
    width: 370px;
    height: 305px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  #feature3 {
    background-image: url(../assets/feature3-background.svg);
    width: 370px;
    height: 305px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-bottom: 50px;
  }

  #feature4 {
    background-image: url(../assets/feature4-background.svg);
    width: 370px;
    height: 305px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  #elipse-1-1 {
    top: 25px;
    left: 195px;
  }

  #elipse-1-2 {
    left: 250px;
  }

  #elipse-3-1 {
    top: 25px;
    left: 285px;
  }

  #elipse-4-1 {
    left: 285px;
  }

  #elipse-4-2 {
    left: 55px;
  }

  .feature-text-content {
    position: absolute;
    left: 150px;
  }

  #feature-img {
    width: 55%;
    top: unset;
    bottom: 20%;
    left: -20%;
  }

  .h3 {
    padding: 0;
    margin-top: 40px;
  }

  .feature-decription {
    padding-top: 0;
    position: static;
    width: 85%;
    margin-top: 0;
  }

  .more-button {
    left: 150px;
    bottom: -10px;
  }

  #testimonials-section {
    border-radius: 30px;
    padding: 50px 70px 50px 70px;
    margin-top: 100px;
    position: relative;
  }

  #reviews-wrapper {
    width: 81vw;
    position: absolute;
  }

  .review-card {
    min-width: 550px;
    padding: 50px;
  }

  .review-card-short {
    padding: 50px;
    min-width: 350px;
  }

  .profile-img {
    width: auto;
  }

  #slider-nav {
    width: 62vw;
    bottom: 50px;
  }

  #footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }

  #horizontal-line {
    width: 100%;
    height: 1px;
    background: #ebe1f9;
    margin: 70px 0 90px 0;
  }

  #social-media-header {
    margin-top: 0;
  }
}

@media only screen and (min-width: 768px) {
  #header {
    width: 90%;
  }

  #options-wrapper {
    margin-left: 90px;
  }

  section {
    width: 90%;
    margin: auto;
    position: relative;
  }

  h1 {
    font-size: 58px;
    width: 75%;
    padding-top: 70px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 40px;
  }

  #about-section p {
    width: 45%;
    font-size: 15px;
    padding-top: 0;
    margin: 0;
  }

  #about-section img {
    position: absolute;
    bottom: -40px;
    right: -11px;
    width: 59%;
    float: none;
    padding-right: 0;
    padding-top: 0;
  }

  section button {
    margin-top: 40px;
    margin-left: 0;
    margin-bottom: 0;
  }

  #desription-section {
    padding-top: 85px;
    margin-top: 65px;
  }

  #description-wrapper {
    border-radius: 30px;
    padding: 30px;
  }

  .inline-flex {
    display: flex;
    align-items: center;
  }

  #describtion-section-img-mobile {
    margin: -57px 24px -10px -90px;
  }

  h2 {
    font-size: 24px;
    padding-top: 0;
  }

  #features-section p {
    width: 80%;
  }

  #features-wrapper {
    padding-left: 90px;
  }

  .features-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
    flex-flow: column;
  }

  #feature1 {
    background-image: url(../assets/feature1-background.svg);
    width: 370px;
    height: 305px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-bottom: 50px;
  }

  #feature2 {
    background-image: url(../assets/feature2-background.svg);
    width: 370px;
    height: 305px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  #feature3 {
    background-image: url(../assets/feature3-background.svg);
    width: 370px;
    height: 305px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-bottom: 50px;
  }

  #feature4 {
    background-image: url(../assets/feature4-background.svg);
    width: 370px;
    height: 305px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  #elipse-1-1 {
    top: 25px;
    left: 195px;
  }

  #elipse-1-2 {
    left: 250px;
  }

  #elipse-3-1 {
    top: 25px;
    left: 285px;
  }

  #elipse-4-1 {
    left: 285px;
  }

  #elipse-4-2 {
    left: 55px;
  }

  .feature-text-content {
    position: absolute;
    left: 150px;
  }

  #feature-img {
    width: 55%;
    top: unset;
    bottom: 20%;
    left: -20%;
  }

  .h3 {
    padding: 0;
    margin-top: 40px;
  }

  .feature-decription {
    padding-top: 0;
    position: static;
    width: 85%;
    margin-top: 0;
  }

  .more-button {
    left: 150px;
    bottom: -10px;
  }

  #testimonials-section {
    border-radius: 30px;
    padding: 50px 70px 50px 70px;
    margin-top: 100px;
    position: relative;
  }

  #reviews-wrapper {
    width: 81vw;
    position: absolute;
  }

  .review-card {
    min-width: 550px;
    padding: 50px;
  }

  .review-card-short {
    padding: 50px;
    min-width: 350px;
  }

  .profile-img {
    width: auto;
  }

  #slider-nav {
    width: 62vw;
    bottom: 50px;
  }

  #footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }

  #horizontal-line {
    width: 100%;
    height: 1px;
    background: #ebe1f9;
    margin: 70px 0 90px 0;
  }

  #social-media-header {
    margin-top: 0;
  }
}

/*Desktop styles*/
@media only screen and (min-width: 960px) {
  #header {
    width: 75%;
  }

  #options-wrapper {
    margin-left: 90px;
  }

  section {
    width: 75%;
    margin: auto;
    position: relative;
  }

  h1 {
    font-size: 58px;
    width: 65%;
    padding-top: 70px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 40px;
  }

  #about-section p {
    width: 36%;
    font-size: 15px;
    padding-top: 0;
    margin: 0;
  }

  #about-section img {
    position: absolute;
    bottom: -70px;
    right: -85px;
    width: 75%;
    float: none;
    padding-right: 0;
    padding-top: 0;
  }

  section button {
    margin-top: 40px;
    margin-left: 0;
    margin-bottom: 0;
  }

  #desription-section {
    padding-top: 85px;
    margin-top: 65px;
  }

  #description-wrapper {
    border-radius: 30px;
    padding: 30px;
  }

  .inline-flex {
    display: flex;
    align-items: center;
  }

  #describtion-section-img-desktop {
    display: block;
    width: 40%;
  }

  #describtion-section-img-mobile {
    display: none;
  }

  h2 {
    font-size: 31px;
    padding-top: 0;
    margin-bottom: 40px;
  }

  #features-section p {
    width: 55%;
  }

  #features-wrapper {
    padding-left: 0px;
  }

  .features-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
    flex-flow: row;
  }

  #feature1 {
    background-image: url(../assets/feature1-background.svg);
    width: 370px;
    height: 305px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-bottom: 0;
  }

  #feature2 {
    background-image: url(../assets/feature2-background.svg);
    width: 370px;
    height: 305px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  #feature3 {
    background-image: url(../assets/feature3-background.svg);
    width: 370px;
    height: 305px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    margin-bottom: 0;
  }

  #feature4 {
    background-image: url(../assets/feature4-background.svg);
    width: 370px;
    height: 305px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
  }

  #elipse-1-1 {
    top: 25px;
    left: 195px;
  }

  #elipse-1-2 {
    left: 250px;
  }

  #elipse-3-1 {
    top: 25px;
    left: 285px;
  }

  #elipse-4-1 {
    left: 285px;
  }

  #elipse-4-2 {
    left: 55px;
  }

  .feature-text-content {
    position: absolute;
    left: 150px;
  }

  #feature-img {
    width: 55%;
    top: unset;
    bottom: 20%;
    left: -20%;
  }

  .h3 {
    padding: 0;
    margin-top: 40px;
  }

  .feature-decription {
    padding-top: 0;
    position: static;
    width: 85%;
    margin-top: 0;
  }

  .more-button {
    left: 150px;
    bottom: -10px;
  }

  #testimonials-section {
    border-radius: 30px;
    padding: 50px 70px 50px 70px;
    margin-top: 100px;
    position: relative;
  }

  #reviews-wrapper {
    width: 81vw;
    position: absolute;
  }

  .review-card {
    min-width: 550px;
    padding: 50px;
  }

  .review-card-short {
    padding: 50px;
    min-width: 350px;
  }

  .profile-img {
    width: auto;
  }

  #slider-nav {
    width: 62vw;
    bottom: 50px;
  }

  #footer-wrapper {
    display: flex;
    width: 75%;
    flex-direction: row;
    justify-content: space-between;
  }

  #horizontal-line {
    width: 100%;
    height: 1px;
    background: #ebe1f9;
    margin: 70px 0 90px 0;
  }

  #social-media-header {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1340px) {
  #about-section img {
    right: -48px;
    width: 61%;
  }
}

@media only screen and (min-width: 1700px) {
  #about-section img {
    bottom: -147px;
    right: 53px;
    width: 49%;
  }

  #about-section p {
    width: 52%;
    font-size: 26px;
  }

  section button a {
    font-size: 20px;
  }

  section button {
    margin-top: 60px;
  }

  #desription-section {
    padding-top: 135px;
  }

  #feature1 {
    width: 500px;
    height: 415px;
  }

  #feature2 {
    width: 500px;
    height: 415px;
  }

  #feature3 {
    width: 500px;
    height: 415px;
  }

  #feature4 {
    width: 500px;
    height: 415px;
  }

  .description-text {
    font-size: 25px;
  }

  .feature-text-content {
    left: 200px;
  }

  .feature-decription {
    font-size: 20px;
    max-height: 190px;
  }

  .more-button {
    left: 200px;
  }

  h4 {
    font-size: 15px;
  }

  .h3 {
    font-size: 25px;
  }
}
